* {
  margin: 0;
  padding: 0;
  font-family: "Opens Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

.flex-container {
  display: flex;
  max-width: 62em;
  margin: auto;
  width: 100%;
}

header {
  background-color: #122a57;
  height: 6.25em;
  display: flex;
  align-items: center;
  color: #fff;
}

header .list-itens {
  display: flex;
  max-width: 16.25em;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list-itens li a {
  color: #fff;
}

header .menu {
  justify-content: space-between;
}

.apresentacao {
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.apresentacao .texto-apresentacao {
  min-height: 12.5em;
}

.texto-apresentacao h1 {
  color: #122a57;
  font-size: 3em;
  margin-bottom: 0.625em;
}

.texto-apresentacao a {
  background-color: #122a57;
  color: #fff;
  text-align: center;
  border-radius: 1.875em;
  width: 13.75em;
  display: block;
  text-decoration: none;
  height: 3.125em;
  line-height: 3.09em;
  margin: 0.625em auto 0.625em auto;
}
