* {
  margin: 0;
  padding: 0;
  font-family: "Opens Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

div img {
  display: block;
  width: 100%;
  pointer-events: none;
}

header {
  background-color: #122a57;
  height: 6.25rem;
  display: flex;
  align-items: center;
  color: #fff;
}

header .list-itens {
  display: flex;
  max-width: 16.25rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header .menu {
  justify-content: space-between;
}

.flex-container {
  display: flex;
  max-width: 62rem;
  margin: auto;
  width: 100%;
}

.list-itens li a {
  color: #fff;
}

.apresentacao {
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.apresentacao .texto-apresentacao {
  min-height: 12.5rem;
}

.texto-apresentacao h1 {
  color: #122a57;
  font-size: 3em;
  margin-bottom: 0.625rem;
}

.btn {
  background-color: #122a57;
  color: #fff;
  text-align: center;
  border-radius: 1.875rem;
  width: 13.75rem;
  display: block;
  text-decoration: none;
  height: 3.125rem;
  line-height: 3.09rem;
  margin: 0.625rem auto 0.625rem auto;
}

#quem-somos {
  align-items: center;
  justify-content: space-between;

  flex-direction: row-reverse;
}

#quem-somos h2 {
  display: flex;
  font-size: 2rem;
  color: #122a57;
  border-left: 0.313rem solid #122a57;
  padding-left: 0.313rem;
  margin-bottom: 1.25rem;
}

#quem-somos p {
  margin-bottom: 0.625rem;
  width: 90%;
}

#quem-somos img {
  min-width: 28.125rem;
}

.container-externo {
  background-color: #122a57;
  width: 100%;
}

#servicos {
  flex-direction: column;
  padding: 3.125rem 0 6.25rem 0;
}

#servicos h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.lista-servicos {
  display: flex;
  justify-content: space-between;
}

.lista-servicos .item-servico {
  text-align: center;
}

.item-servico a {
  width: 7.5rem;
  background-color: #fff;
  border-radius: 1.875rem;
  height: 3.125rem;
  text-align: center;
  line-height: 3.125rem;
  margin-top: 1.25rem;
  padding: 0.313rem 0.625rem;
  color: #122a57;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 700;
}

.item-servico p {
  font-weight: 700;
  font-size: 1.125rem;
  color: #fff;
  margin-top: 1.25rem;
}

.item-servico img {
  width: 80%;
  margin: auto;
}

#planos {
  flex-direction: column;
  min-height: 100vh;
}

.lista-planos {
  display: flex;
  align-items: flex-end;
}

.item-plano {
  flex: 1;
  border: 0.313rem solid #122a57;
  margin-right: 1.25rem;
  padding: 0.625rem;
}

.item-plano.btn {
  margin: auto;
  margin-bottom: 1.25rem;
}

.item-plano h3 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item-plano h3::after {
  content: "";
  background-color: #122a57;
  width: 100%;
  height: 0.125rem;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

.item-plano ul {
  padding: 0.625rem 1.25rem;
  display: flex;
  flex-direction: column;
}
