:root {
  --background: #fafafa;
  --link-color: #0095f6;
  --cinza: #aea7a1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.875rem;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22.875rem;
}

.instagram-phone img {
  height: 50rem;
}

.instagram-entrar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  width: 21.875rem;
  padding: 1.3rem 0;
  border: 0.063rem solid lightgray;
}

.group:nth-child(1) {
  padding: 0.625rem 0;
  height: 24.75rem;
  justify-content: space-around;
}

.group:nth-child(2) {
  padding: 0.625rem;
  margin-top: 0.625rem;
}

.group:nth-child(2) p {
  text-align: center;
  margin: 0.938rem 0.938rem;
}

.instagram-logo {
  height: 3.188rem;
  width: 10.938rem;
  margin-top: 2.063rem;
  margin-bottom: 0.75rem;
}

.btn {
  padding: 0.313rem 0.563rem;
  font-weight: 600;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: inherit;
  user-select: none;
  width: auto;
  display: block;
}

.instagram-login {
  background-color: var(--link-color);
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.login-inputs {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin: 0.5rem 2.5rem;
  min-width: 16.75rem;
  min-height: 1.875rem;
}

.login-inputs input {
  display: flex;
  padding-top: 0.875rem;
  padding-left: 0.5rem;
  padding-bottom: 0.125rem;
}

.login-inputs p {
  text-align: center;
  position: relative;
  justify-content: center;
  color: var(--cinza);
  flex-shrink: 0;
  font-size: 0.813rem;
  font-weight: 600;
  line-height: 0.938rem;
  margin: 0 1.188rem;
  padding: 0 7.85rem;
  text-transform: uppercase;
}

.login-inputs p:before,
.login-inputs p:after {
  content: "";
  position: absolute;
  top: 0.4em;
  width: 10.3em;
  height: 0.05em;
  background-color: var(--cinza);
  left: -1.25em;
}

.login-inputs p:after {
  left: initial;
  right: -1.25em;
}

.ou {
  margin: 0.625rem 2.5rem 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-blue {
  color: var(--link-color);
  margin-bottom: 0.313rem;
}

.facebook-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook-login img {
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.313rem;
}

.get-the-app {
  text-align: center;
}

.get-the-app p {
  margin: 1rem;
}

.download {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.app-download img {
  height: 3rem;
  width: 10rem;
  margin: 0 0.25rem;
}

/* mobile */

@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }

  .instagram-phone {
    display: none;
  }

  .instagram-entrar {
    width: 100%;
  }
}
